/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(135,0,193);
    background: linear-gradient(90deg, rgba(135,0,193,1) 0%, rgba(6,6,213,1) 50%, rgba(0,146,247,1) 100%);
}

h1, h2 {
    color: white;
}

input {
    margin: 5px 0; /* Отступ между input */
    padding: 10px; /* Внутренний отступ для удобства */
    width: 200px; /* Ширина input */
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    align-items: center; /* Центрируем элементы по горизонтали */
    position: relative; /* Устанавливаем относительное позиционирование */
}

table {
    background-color: white;
    width: 90%;
    border-collapse: collapse;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#welcome, #loginDiv {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем на половину ширины элемента для центрирования */
    opacity: 0; /* Начальная непрозрачность */
    visibility: hidden; /* Элемент невидим */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Плавный переход для opacity и visibility */
    text-align: center;
    margin: 10px; /* Отступ между контейнерами */
}

#welcome.active, #loginDiv.active {
    opacity: 1; /* Полная непрозрачность */
    visibility: visible; /* Элемент видим */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.p_out {
    color: white;
}

.clickable {
    cursor: pointer;
}

.details {
    display: none; /* Скрываем строки с дополнительной информацией по умолчанию */
    background-color: #f9f9f9;
}

.back-button {
    background-color: white; /* Белый фон */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 15px; /* Отступы */
    cursor: pointer; /* Курсор в виде указателя */
    margin-bottom: 10px; /* Отступ снизу */
}

p.link-like {
    color: blue; /* Цвет текста */
    text-decoration: underline; /* Подчеркивание */
    cursor: pointer; /* Курсор в виде указателя */
}